<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div>
            <a href="index.ejs">
                <input type="button" value="iniciar" />
            </a> 
            <h1></h1>
            <a href="index.ejs">
                <input type="button" value="guardados" />
            </a>    
        </div>
        
    </body>
</html>